<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('../inc/css') %> 
</head>
<body>
    <div class="container">
        <%- include('../inc/navBar')  %> 
        <div class="row">
            <div class="col-sm-6">
                <h2>Customer Add</h2>
                <form action="../admin/customerAdd" method="post">
                    <div class="mb-3">
                        <input required name="name" class="form-control" type="text" placeholder="Name / Surname" />
                    </div>
                    <div class="mb-3">
                        <input required name="phone" class="form-control" type="tel" placeholder="Phone" />
                    </div>
                    <div class="mb-3">
                        <input required name="color" class="form-control  form-control-color" type="color" placeholder="Color" />
                    </div>
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
            <div class="col-sm-6">
                <h2>Customer List</h2>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Name/Surname</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Color</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                    
                        <% if (items) { %>
                         <% for( let i = 0; i < items.length; i++ ) {
                            const item = items[i]  
                         %>
                            <tr>
                                <th><%=(i+1) %></th>
                                <td><%=item.name %></td>
                                <td><%=item.phone %></td>
                                <td> <div style="border-radius: 5px; height: 15px; padding: 15px; background-color: <%=item.color %>; "></div> </td>
                                <td>
                                    <a href="../admin/customerDelete?id=<%= item.id%>" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                              </tr>
                         <% } %>
                        <% } %>

                      
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</body>
</html>