<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <%- include('../inc/css') %> 
</head>
<body>
    <div class="container">
        <%- include('../inc/navBar')  %> 
        <h2>Product List</h2>

        <div class="row">
            <% if (arr) { %>
                <% arr.forEach((item, index) => { %>
                    <div class="card col-sm-4">
                        <img src=<%= item.images[0].normal %>  class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%= item.productName %> </h5>
                        <p class="card-text"><%= item.brief %></p>
                        <a href="../admin/productDetail?index=<%=index %> " class="btn btn-primary">Goto Detail</a>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>

    </div>
</body>
</html>